{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "sentinel-agent.fullname" . }}
  labels:
    {{- include "sentinel-agent.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups: [""]
    resources:
      - nodes/metrics
    verbs:
      - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "sentinel-agent.fullname" . }}
  labels:
    {{- include "sentinel-agent.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "sentinel-agent.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "sentinel-agent.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
